{% extends 'base.html.twig' %}

{% block title %}{{gewinnt}} Gewinnt{% endblock %}

{% block styles %}
<style>
    body {
        font-family: monospace;
        font-weight: bold;
    }
    .centered {
        text-align: center;
    }
    .playfield {
        margin: 0 auto; 
    }
    .playfield td {
        padding: 15px 20px;
        border: 2px solid red;
        background-color: black;
        color: white;
        font-size: 30px;
        cursor: default;
    }
    #alert {
        margin: 40px;
        font-size: 20px;
    }
</style>
{% endblock %}

{% block body %}
<div class="centered">
    <h1>{{gewinnt}} Gewinnt</h1>
    <table class="playfield">
        {% for row in 0..maxRow %}
            <tr>
                {% for col in 0..maxCol %}
                    <td data-col="{{col}}" data-row="{{row}}">
                        &nbsp;
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    
    <div id="alert"></div>
</div>
{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
var signs = ['&nbsp;', 'X', 'O'];

$('.playfield td').click(function(){
    var data = $(this).data();
    
    $.ajax({
        url: '/processMove',
        method: 'post',
        dataType: 'json',
        data: data,
        success: function(response){
            console.log(response.row);     // TODO
            
            if(response.row >= 0){
                $('[data-col="' + data.col + '"][data-row="' + response.row + '"]')
                    .html(signs[1]);     // TODO Spieler-Kennung statt 1
            }
        },
        error: function(){
            // TODO
        }
    });
});
</script>
{% endblock %}